:root {
    --color-primary: rgb(124, 25, 25);
    --color-secondary: rgb(180, 55, 70);

    --spacing: 16px;
}

h1 {
    color: var(--color-primary);
}

h2 {
    color: var(--color-secondary);
    margin: var(--spacing);
}

p {
    color: var(--color-primary)  ; 
}

button {
    background: var(--color-primary) ;
    color: white;
}