body {
    background-color: black;
    color: white;
}

@media (min-width: 300px) and (max-width: 500px) {
    body {
        background-color: white;
        color: black;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    body {
        background-color: red;
        color: yellow;
        font-size: 30px;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    body {
        background-color: blue;
        color: white;
        font-size: 50px;
    }
}